In [95]:
import os
import json
import pandas as pd
import mysql.connector

In [21]:
#Agg_transaction
path = "C:/Users/Ganesh Kumar/Desktop/New folder/phonepe/pulse/data/aggregated/transaction/country/india/state/"
agg_trans_state=os.listdir(path)
column = {'State':[],'Year':[],'Quarter':[],'transaction_name':[],'transaction_count':[],'transaction_amount':[]}
for state in agg_trans_state:
    path_year = path+state+"/"
    agg_year_path = os.listdir(path_year)
    for year in agg_year_path:
        path_file = path_year+year+"/"
        agg_file_path = os.listdir(path_file)
        for file in agg_file_path:
            files=path_file+file
            data=open(files,'r')
            D=json.load(data)
            for i in D['data']['transactionData']:
                Name = i['name']
                count = i['paymentInstruments'][0]['count']
                amount = i['paymentInstruments'][0]['amount']
                column['transaction_name'].append(Name)
                column['transaction_count'].append(count)
                column['transaction_amount'].append(amount)
                column['State'].append(state)
                column['Year'].append(year)
                column['Quarter'].append(int(file.strip('.json')))
agg_trans=pd.DataFrame(column)

In [52]:
#Agg_user
path1 = "C:/Users/Ganesh Kumar/Desktop/New folder/phonepe/pulse/data/aggregated/user/country/india/state/"
agg_user=os.listdir(path1)
clm={'State':[],'Year':[],'Quarter':[],'Brand':[],'Transaction_Count':[],'Percentage':[]}
for state in agg_user:
    path1_year=path1+state+"/"
    agg_user_year=os.listdir(path1_year)
    for year in agg_user_year:
        path1_file = path1_year+year+"/"
        agg_user_file=os.listdir(path1_file)
        for file in agg_user_file:
            agg_user_files= path1_file+file
            data1=open(agg_user_files,'r')
            D1=json.load(data1)
            try:
                for i in D1['data']['usersByDevice']:
                    Brand=i['brand']
                    Count=i['count']
                    Percentage=i['percentage']
                    clm['Brand'].append(Brand)
                    clm['Transaction_Count'].append(Count)
                    clm['Percentage'].append(Percentage)
                    clm['State'].append(state)
                    clm['Year'].append(year)
                    clm['Quarter'].append(int(file.strip('.json')))
            except:
                pass
agg_users=pd.DataFrame(clm)

In [61]:
#map_transaction
path2= "C:/Users/Ganesh Kumar/Desktop/New folder/phonepe/pulse/data/map/transaction/hover/country/india/state/"
map_trans_list=os.listdir(path2)
clm1={'State':[],'Year':[],'Quarter':[],'District_name':[],'Transaction_count':[],'Transaction_amount':[]}
for state in map_trans_list:
    path2_year=path2+state+"/"
    map_trans_year=os.listdir(path2_year)
    for year in map_trans_year:
        path2_file=path2_year+year+"/"
        map_trans_file=os.listdir(path2_file)
        for file in map_trans_file:
            map_file=path2_file+file
            data2=open(map_file,'r')
            D2=json.load(data2)
            for i in D2['data']['hoverDataList']:
                district_name=i['name']
                count=i['metric'][0]['count']
                amount=i['metric'][0]['amount']
                clm1['District_name'].append(district_name)
                clm1['Transaction_count'].append(count)
                clm1['Transaction_amount'].append(amount)
                clm1['State'].append(state)
                clm1['Year'].append(year)
                clm1['Quarter'].append(int(file.strip('.json')))

map_trans=pd.DataFrame(clm1)

In [73]:
#map_user
path3="C:/Users/Ganesh Kumar/Desktop/New folder/phonepe/pulse/data/map/user/hover/country/india/state/"
map_user_list=os.listdir(path3)
clm3={'State':[],'Year':[],'Quarter':[],'District':[],'Registered_User':[],'AppOpens':[]}
for state in map_user_list:
    p3_year=path3+state+"/"
    map_user_year=os.listdir(p3_year)
    for year in map_user_year:
        p3_file=p3_year+year+"/"
        map_user_file=os.listdir(p3_file)
        for file in map_user_file:
            map_files=p3_file+file
            data3=open(map_files,"r")
            D3=json.load(data3)
            for i,j in D3['data']['hoverData'].items():
                district=i
                register_user=j['registeredUsers']
                appopens=j['appOpens']
                clm3['District'].append(district)
                clm3['Registered_User'].append(register_user)
                clm3['AppOpens'].append(appopens)
                clm3['State'].append(state)
                clm3['Year'].append(year)
                clm3['Quarter'].append(int(file.strip('.json')))
map_user=pd.DataFrame(clm3)

In [88]:
#top_transaction
path4="C:/Users/Ganesh Kumar/Desktop/New folder/phonepe/pulse/data/top/transaction/country/india/state/"
top_trans_list=os.listdir(path4)
clm4={'State':[],'Year':[],'Quarter':[],'Pincode':[],'Transaction_count':[],'Transaction_amount':[]}
for state in top_trans_list:
    p4_year=path4+state+"/"
    top_trans_year=os.listdir(p4_year)
    for year in top_trans_year:
        p4_file=p4_year+year+"/"
        top_trans_file=os.listdir(p4_file)
        for file in top_trans_file:
            top_t_file=p4_file+file
            data4=open(top_t_file,"r")
            D4=json.load(data4)
            for i in D4['data']['pincodes']:
                pincode=i['entityName']
                count=i['metric']['count']
                amount=i['metric']['amount']
                clm4['Pincode'].append(pincode)
                clm4['Transaction_count'].append(count)
                clm4['Transaction_amount'].append(amount)
                clm4['State'].append(state)
                clm4['Year'].append(year)
                clm4['Quarter'].append(int(file.strip('.json')))
top_trans=pd.DataFrame(clm4)

In [93]:
#top_user
path5="C:/Users/Ganesh Kumar/Desktop/New folder/phonepe/pulse/data/top/user/country/india/state/"
top_user_list=os.listdir(path5)
clm5={'State':[],'Year':[],'Quarter':[],'Pincode':[],'RegisteredUser':[]}
for state in top_user_list:
    p5_year=path5+state+"/"
    top_user_year=os.listdir(p5_year)
    for year in top_user_year:
        p5_file=p5_year+year+"/"
        top_user_file=os.listdir(p5_file)
        for file in top_user_file:
            top_u_file=p5_file+file
            data5=open(top_u_file,"r")
            D5=json.load(data5)
            for i in D5['data']['pincodes']:
                pincode=i['name']
                register_user=i['registeredUsers']
                clm5['Pincode'].append(pincode)
                clm5['RegisteredUser'].append(register_user)
                clm5['State'].append(state)
                clm5['Year'].append(year)
                clm5['Quarter'].append(int(file.strip('.json')))
top_users=pd.DataFrame(clm5)

In [97]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Nivya@123",
    database="phonepe",
    autocommit=True)
cursor = mydb.cursor()

In [106]:
#agg_trans_table_creation
create_query1 = '''create table if not exists aggregated_transaction(State varchar(100),
                                                                    Year int,
                                                                    Quarter int,
                                                                    transaction_name varchar(100),
                                                                    transaction_count bigint,
                                                                    transaction_amount bigint )'''
cursor.execute(create_query1)
for index,row in agg_trans.iterrows():
    insert_query1 = '''insert into aggregated_transaction(State,
                                                                Year,
                                                                Quarter,
                                                                transaction_name,
                                                                transaction_count,
                                                                transaction_amount)
    
                                                                values(%s,%s,%s,%s,%s,%s)'''
    values = (row['State'],
              row['Year'],
              row['Quarter'],
              row['transaction_name'],
              row['transaction_count'],
              row['transaction_amount'])
    cursor.execute(insert_query1,values)

In [113]:
#agg_user_table_creation
create_query2='''create table if not exists aggregated_users(State varchar(100),
Year int,
Quarter int,
Brand varchar(50),
Transaction_Count bigint,
Percentage float)''' 
cursor.execute(create_query2)

for index,row in agg_users.iterrows():
    insert_query2='''insert into aggregated_users(State,Year,Quarter,Brand,Transaction_Count,Percentage) values(%s,%s,%s,%s,%s,%s)'''
    values= (row['State'],
             row['Year'],
             row['Quarter'],
             row['Brand'],
             row['Transaction_Count'],
             row['Percentage'])
    cursor.execute(insert_query2,values)

In [114]:
#map_transaction_table_creation
create_query3='''create table if not exists map_transaction(State varchar(100),
Year int,
Quarter int,
District_name varchar(100),
Transaction_count bigint,
Transaction_amount bigint)'''
cursor.execute(create_query3)

for index,row in map_trans.iterrows():
    insert_query3= '''insert into map_transaction(State,Year,Quarter,District_name,Transaction_count,Transaction_amount) values(%s,%s,%s,%s,%s,%s)'''
    values=(row['State'],
            row['Year'],
            row['Quarter'],
            row['District_name'],
            row['Transaction_count'],
            row['Transaction_amount'])
    cursor.execute(insert_query3,values)

In [115]:
#map_user table creation
create_query4='''create table if not exists map_user(State varchar(100),
Year int,
Quarter int,
District varchar(100),
Registered_User  bigint,
AppOpens bigint)'''
cursor.execute(create_query4)

for index,row in map_user.iterrows():
    insert_query4='''insert into map_user(State,Year,Quarter,District,Registered_User,AppOpens) values(%s,%s,%s,%s,%s,%s)'''
    values= (row['State'],
             row['Year'],
             row['Quarter'],
             row['District'],
             row['Registered_User'],
             row['AppOpens'])
    cursor.execute(insert_query4,values)

In [116]:
#top_transaction table creation
create_query5='''create table if not exists top_transaction(State varchar(100),
Year int,
Quarter int,
Pincode int,
Transaction_count bigint,
Transaction_amount bigint)'''
cursor.execute(create_query5)

for index,row in top_trans.iterrows():
    insert_query5='''insert into top_transaction(State,Year,Quarter,Pincode,Transaction_count,Transaction_amount) values(%s,%s,%s,%s,%s,%s)'''
    values=(row['State'],
            row['Year'],
            row['Quarter'],
            row['Pincode'],
            row['Transaction_count'],
            row['Transaction_amount'])
    cursor.execute(insert_query5,values)

In [117]:
#top_user table creation
#clm5={'State':[],'Year':[],'Quarter':[],'Pincode':[],'RegisteredUser':[]}
create_query6='''create table if not exists top_user(State varchar(100),
Year int,
Quarter int,
Pincode int,
RegisteredUser bigint)'''
cursor.execute(create_query6)

for index,row in top_users.iterrows():
    insert_query6='''insert into top_user(State,Year,Quarter,Pincode,RegisteredUser) values(%s,%s,%s,%s,%s)'''
    values=(row['State'],
            row['Year'],
            row['Quarter'],
            row['Pincode'],
            row['RegisteredUser'])
    cursor.execute(insert_query6,values)